* {

    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;

}

html , body {

    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    
}


.container {


   
    font-family: 'Roboto' , sans-serif ;
    min-height:  100vh;
    border: 1px solid ;
  
}

.container .hero {

width: inherit;
height:100vh ;
display: flex;
justify-content: space-between;
padding-top: 15vh;
background:  rgba(229, 226, 226, 0.8);

width:100%;


}

.container .hero .logo-section {

    padding: 100px ;
}
.container .hero .logo-section h1 {

font-family: 'Lobster' , cursive;
font-weight: 400 ;
font-size: 45px;
color: #088F8F; 

}
.container .hero .logo-section p {

    font-size: 30px ;
}


.container .hero .login-section {

    display: flex ;
    flex-direction:  column ;
    margin-bottom: 20px ;
    padding: 100px ;
    
}

.container .hero .login-section .login {

    display: flex ;
    flex-direction: column;
    padding: 10px ;
    box-shadow: 0 0 5px rgba(22, 22, 22, 0.5);
    border-radius: 5px ;
    background-color: white;
    width: 400px;
   
}

.container .hero .login-section .login  input, button {


    padding: 15px 15px;
    margin: 5px 0px ;
    background: transparent ;
    border: 1px solid   rgba(179, 178, 178, 0.8);
    
    border-radius: 5px;
    color:  rgba(122, 122, 122, 0.8);
    font-size: 18px;
    width: 100% ;
   
}
.container .hero .login-section .login button {

    background: #088F8F;
    color: white ;
    font-weight: bold;
    text-transform:  capitalize;
    font-size: 20px ;
}



.container .hero .login-section .login a {

    text-align: center ;
    color: #088F8F;
    padding: 15px 0px ;
    display: inline-block;
    text-decoration: none;
    font-size:  16px;
    border-bottom:  1px solid   rgba(179, 178, 178, 0.8);
}

.container .hero .login-section .login .create-acc {


    margin: 15px auto;
    background:  rgb(26, 26, 248);
    width: 60% ;
    

}

.container .hero .login-section .create-page {

    margin-top: 10px ;

}
.container .hero .login-section .create-page a {

    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    color: rgb(58, 57, 57);
    
}


.container  .lan-sec {


    width: 79% ;
    margin: 50px  auto 0px ;
    font-size: 14px;
    border-bottom: 1px solid rgba(122, 122, 122, 0.8);
    padding-bottom: 20px ;



}

.container  .lan-sec ul {

    display: flex;
    flex-wrap: wrap ;
    align-items:  flex-start;

}

.container .lan-sec ul li  {

    list-style-type: none;
    padding: 0px 5px ;
    text-align: left ;  
}

.container .lan-sec ul li a {

    text-decoration: none;
    color:rgba(119, 119, 119, 0.8) ;
}

.container .footer-nav {

    width: 80% ;
    margin: 20px auto ;
    
}

.container .footer-nav ul  {

    display:  flex;
    flex-wrap:  wrap;
    align-items: flex-start;
}

.container .footer-nav ul li {


    list-style-type: none;
    padding: 0px 5px ;
    font-size: 14px;
    text-align: left;
    

}
.container .footer-nav ul li a {


    text-decoration:  none;
    color: rgba(119, 119, 119, 0.8) ; 
    text-transform:  capitalize ;
    text-align:  left;
    

}

.container .copyright {

    margin-top: 20px ;
    width:80% ;
    
    color:rgba(119, 119, 119, 0.8);
    margin:  0 auto 20px;
    
    font-size: 14px;
    padding-left: 4px ;
}

@media  (max-width:1000px){
    
    .container .hero {

        flex-direction: column ;
        align-items: center;
        height: auto ;


}

.container .hero .logo-section {

    padding-top: 20px ;
    padding-bottom: 20px ;
}

.container .hero .logo-section h1 {

    text-align: center;
}

.container .hero .logo-section p {

    text-align: center ;
}

.container .hero .login-section {

    padding: 10px 10px 10px 10px ;
    width: 100% ;
}



.container .hero .login-section .login  {

   width: 70%; 
   margin: auto;
   max-width: 400px;
}

.container .hero .login-section .login  input, button  {

    font-size: 1em;
}

.container .hero .login-section .create-page  {

    text-align:  center;
    
}



}

@media(max-width:375px){



    .container .hero .login-section .login .create-acc {

        font-size: 15px ;
        padding: 3px 5px ;
    }

    .container .hero .login-section {

        padding: 20px;
    }

    .container .hero .login-section .login {

        width: 100%;
    }

}

